@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Maven Pro", sans-serif;
  color: #fff;
  text-align: center;
  background: #fff;
}

nav {
  background: #270f4def;
  height: 81.5rem;
  .nav-header {
    display: flex;
    padding-top: 2.4rem;

    .main-logo {
      text-align: left;
      width: 11.2rem;
      height: 1.9rem;
      margin-left: 2.6rem;
    }

    .nav-header-right-item {
      display: flex;
      margin-left: auto;
      margin-right: 2.6rem;
      align-items: center;

      .Tr-flag {
        width: 2.1rem;
        height: 2.1rem;
      }

      h2 {
        margin: 0;
        font-size: 1.9rem;
        display: inline-block;
        color: #fff;
        opacity: 80%;
        margin-right: 2.3rem;
        margin-left: 0.8rem;
      }

      .icon-hamburger {
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }

  .box-1 {
    h1 {
      font-size: 2.8rem;

      span {
        color: #00b7b3;
      }
    }

    p {
      font-size: 1.8rem;
      opacity: 60%;
    }

    .phone-apply {
      .application {
        display: flex;
        margin-left: 3.6rem;
        margin-top: 5rem;

        .country-number {
          display: flex;
          align-items: center;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
          border img {
            height: 1.8rem;
            width: 1.8rem;
          }
          select {
            background-color: transparent;
            border: 0px;
            color: #fff;
            font-size: 1.8rem;
          }
        }

        .phone-number {
          border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
          margin-left: 2rem;
          input {
            background-color: transparent;
            border: 0px;
            color: #fff;
            opacity: 40%;
            font-size: 1.8rem;
          }
        }
      }

      button {
        font-size: 1.8rem;
        width: 30rem;
        height: 5.8rem;
        border: 0px;
        border-radius: 1.8rem;
        background-color: #00b7b3;
        color: #fff;
        margin-top: 2.3rem;
      }
    }

    .app-store {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.5rem;
      p {
        font-size: 1.4rem;
        margin: 0;
      }
      button {
        width: 17rem;
        height: 5.2rem;
        border: 0px;
        border-radius: 1.4rem;
        margin-left: 4rem;
      }
    }
  }

  .box-2 {
    display: flex;
    position: relative;
    img {
      position: absolute;
      z-index: 1;
    }

    .head-photo-back {
      width: 35.9rem;
      height: 59.1rem;
      left: 0;
      margin-top: 13rem;
    }

    .head-photo-front {
      width: 32.8rem;
      height: 59.1rem;
      right: 0;
      margin-top: 2.5rem;
    }

    .grandiant-white {
      position: absolute;
      width: 100%;
      height: 23.9rem;
      margin-top: 38rem;
      background: transparent
        linear-gradient(
          180deg,
          #ffffff00 0%,
          #ffffff95 22%,
          #ffffff 55%,
          #ffffff 89%,
          #ffffff 100%
        )
        0% 0% no-repeat padding-box;
      opacity: 1;
      z-index: 2;
    }
  }

  .app-icon {
    position: relative;
    margin-top: 60rem;
    z-index: 3;

    img {
      margin-right: 1rem;
      padding-bottom: 2rem;
    }
  }
}

main {
  .box-3 {
    margin-top: 33rem;

    h2 {
      text-align: left;
      color: #450e87;
      font-size: 2rem;
      font-weight: bold;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
    p {
      text-align: left;
      color: #7d8e9f;
      font-size: 2.2rem;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
  }

  .box-4 {
    margin-top: 10rem;

    h2 {
      text-align: left;
      color: #450e87;
      font-size: 2rem;
      font-weight: bold;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
    p {
      text-align: left;
      color: #7d8e9f;
      font-size: 2.2rem;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
  }

  .carts {
    display: flex;
    justify-content: center;

    .card {
      background-color: #f6f6fb;
      border: 1px solid #aba3b7;
      border-radius: 28px;
      img {
        width: 14rem;
        height: auto;
        margin: 2rem 12rem 2rem 2rem;
      }
    }

    .carousel-indicators {
      .active {
        background-color: #450e87;
      }
      li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #dddae2;
      }
    }

    .card-body {
      h2 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        color: #3d2852;
        font-weight: bold;
      }
      p {
        margin: 2rem 0 5rem 3rem;
        padding: 0;
        color: #7d8e9f;
        opacity: 80%;
        font-size: 1.8rem;
        text-align: left;
      }
    }
  }

  .box-5 {
    width: 30rem;
    margin: 0 auto 50px auto;
    .main-box {
      padding-top: 3rem;
      background-color: #f6f6fb;
      border-radius: 20px;
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 32px;
          height: 22px;
        }
        p {
          margin: 0;
          padding: 0;
          color: #3d2852;
          font-size: 1.6rem;
          font-weight: bold;
          margin-left: 2rem;
          margin-right: 5rem;
        }
        .tre {
          display: flex;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          background-color: #00b7b3;

          img {
            width: 16px;
            height: 2px;
            margin: auto;
          }
        }
      }

      p {
        color: #7d8e9f;
        opacity: 80%;
        text-align: left;
        margin-left: 2.4rem;
        font-size: 1.8rem;
        margin-top: 2.2rem;
      }

      img {
        width: 30rem;
        height: auto;
      }
    }

    .child-box {
      display: flex;
      align-items: center;
      background-color: #f6f6fb;
      border-radius: 2rem;
      margin-top: 1rem;
      img {
        width: 3.3rem;
        height: auto;
        margin-left: 2.6rem;
      }
      p {
        color: #7d8e9f;
        font-size: 1.6rem;
        font-weight: bold;
        text-align: left;
        margin-left: 3rem;
      }
      .image {
        display: flex;
        width: 4rem;
        height: 4rem;
        background-color: #fff;
        border-radius: 1rem;
        margin-left: auto;
        margin-right: 3.2rem;
        img {
          margin: auto;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
  }

  .box-6 {
    background-color: #370865;
    border-radius: 30px;
    position: relative;
    padding-top: 19.5rem;
    width: 34.4rem;
    margin: 170px auto 0 auto;
    .photo {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, -60%);
    }

    h2 {
      margin: 0;
      padding: 0;
      font-size: 2.2rem;
      font-weight: bold;
      text-align: left;
      margin-left: 3.3rem;
      margin-top: 2.3rem;
      span {
        color: #00b7b3;
      }
    }

    .box-footer {
      margin-top: 3.5rem;
      background-image: url(../img/p-logo.svg);
      background-position: center;
      background-position-y: -180%;
      background-repeat: no-repeat;
      padding-bottom: 3rem;

      p {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        text-align: left;
        margin-left: 3.3rem;
      }

      button {
        width: 27.1rem;
        height: 6rem;
        margin-top: 4.6rem;
        border-radius: 2rem;
        border: 0;
        background-color: #00b7b3;
        font-size: 1.8rem;
        color: #fff;
      }

      .text-footer {
        margin: 0;
        padding: 0;
        opacity: 40%;
        font-size: 1.4rem;
        text-align: center;
        margin-top: 2.5rem;
      }
    }
  }

  .box-7 {
    text-align: left;
    margin-left: 3.6rem;
    margin-top: 10rem;
    h2 {
      color: #450e87;
      font-weight: bold;
      margin: 0;
      padding: 0;
      margin-bottom: 2rem;
    }
    p {
      color: #7d8e9f;
      font-size: 2.2rem;
      margin: 0;
      padding: 0;
      margin-bottom: 4rem;
    }

    .carousel-inner {
      .card {
        border: 0;
      }

      img {
        border-radius: 2rem;
        width: 35rem;
      }

      h2 {
        color: #3d2852;
      }
      p {
        font-size: 1.7rem;
      }
    }
  }

  .box-8 {
    width: 30.2rem;
    margin: 0 auto;
    background-color: #370865;
    text-align: left;
    padding-top: 4.2rem;
    border-radius: 2.8rem 2.8rem 0 0;

    h2 {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 2rem;
      margin-left: 3.2rem;
    }

    p {
      font-size: 1.8rem;
      opacity: 80%;
      margin-top: 2.1rem;
      margin-left: 3.2rem;
    }
    button {
      display: block;
      margin: 3.5rem auto 0 auto;
      width: 25rem;
      height: 6rem;
      border: 0;
      border-radius: 2rem;
      background-color: #450e87;
      color: #fff;
      font-size: 1.8rem;
    }
    .bacground {
      height: 15rem;
      width: 25rem;
      margin: 0.5rem auto 0 auto;
      background-image: url(../img/carts-image.png);
      background-repeat: no-repeat;
    }
  }

  .box-9 {
    background-color: #f6f6fb;
    padding-bottom: 95px;
    .cart {
      width: 30.2rem;
      margin: 0 auto;
      background-color: #0e8f93;
      text-align: left;
      padding-top: 4.2rem;
      border-radius: 0 0 2.8rem 2.8rem;
      h2 {
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 2rem;
        margin-left: 3.2rem;
        color: #fff;
      }

      p {
        font-size: 1.8rem;
        color: #fff;
        opacity: 80%;
        margin-top: 2.1rem;
        margin-left: 3.2rem;
      }
      button {
        display: block;
        margin: 3.5rem auto 0 auto;
        width: 25rem;
        height: 6rem;
        border: 0;
        border-radius: 2rem;
        background-color: #00b7b3;
        color: #fff;
        font-size: 1.8rem;
      }
      .bacground {
        height: 15rem;
        width: 25rem;
        margin: 0.5rem auto 0 auto;
        background-image: url(../img/carts-image.png);
        background-repeat: no-repeat;
      }
    }

    h2 {
      color: #450e87;
      font-weight: bold;
      font-size: 2rem;
      letter-spacing: -0.4px;
      margin-top: 4.6rem;
    }
    p {
      color: #7d8e9f;
      font-size: 2.2rem;
      letter-spacing: -0.44px;
      margin-top: 2rem;
    }
    button {
      width: 22.3rem;
      height: 7rem;
      background-color: #fff;
      border: 0;
      border-radius: 1.6rem;
    }
  }
}

footer {
  background-color: #270f4d;
  ul {
    display: flex;
    list-style: none;
    margin: 0 57px;
    padding: 3rem;
    border-bottom: 1px solid #7c639ea2;
    li {
      margin-right: 5rem;
      opacity: 80%;
    }
  }

  .language{
    margin-top: 4rem;
    margin-left: 57px;
    text-align: left;
    img{
      margin-right: 12px;
    }
    select{
      font-size: 1.6rem;
      background-color: transparent;
      border: 0;
      color: #fff;
    }
  }

  .about{
    text-align: left;
    margin: 47px 57px 0 57px;
    padding-bottom: 30px;
    border-bottom: 1px solid #7c639ea2;
    h2{
      margin-top: 25px;
      font-size: 1.8rem;
      font-weight: bold;
    }

    p{
      font-size: 2.6rem;
      opacity: 40%;
    }
  }
}
