@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Maven Pro", sans-serif;
  color: #fff;
  text-align: center;
  background: #fff;
}

nav {
  background: #270f4def;
  height: 81.5rem;
  .nav-header {
    display: flex;
    padding-top: 2.4rem;

    .main-logo {
      text-align: left;
      width: 11.2rem;
      height: 1.9rem;
      margin-left: 2.6rem;
    }

    .nav-header-right-item {
      display: flex;
      margin-left: auto;
      margin-right: 2.6rem;
      align-items: center;

      .Tr-flag {
        width: 2.1rem;
        height: 2.1rem;
      }

      h2 {
        margin: 0;
        font-size: 1.9rem;
        display: inline-block;
        color: #fff;
        opacity: 80%;
        margin-right: 2.3rem;
        margin-left: 0.8rem;
      }

      .icon-hamburger {
        width: 2.1rem;
        height: 2.1rem;
      }
    }
  }

  .box-1 {
    h1 {
      font-size: 2.8rem;

      span {
        color: #00b7b3;
      }
    }

    p {
      font-size: 1.8rem;
      opacity: 60%;
    }

    .phone-apply {
      .application {
        display: flex;
        margin-left: 3.6rem;
        margin-top: 5rem;

        .country-number {
          display: flex;
          align-items: center;
          padding-bottom: 1.5rem;
          border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
          border img {
            height: 1.8rem;
            width: 1.8rem;
          }
          select {
            background-color: transparent;
            border: 0px;
            color: #fff;
            font-size: 1.8rem;
          }
        }

        .phone-number {
          border-bottom: 1px solid rgba($color: #fff, $alpha: 0.4);
          margin-left: 2rem;
          input {
            background-color: transparent;
            border: 0px;
            color: #fff;
            opacity: 40%;
            font-size: 1.8rem;
          }
        }
      }

      button {
        font-size: 1.8rem;
        width: 30rem;
        height: 5.8rem;
        border: 0px;
        border-radius: 1.8rem;
        background-color: #00b7b3;
        color: #fff;
        margin-top: 2.3rem;
      }
    }

    .app-store {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.5rem;
      p {
        font-size: 1.4rem;
        margin: 0;
      }
      button {
        width: 17rem;
        height: 5.2rem;
        border: 0px;
        border-radius: 1.4rem;
        margin-left: 4rem;
      }
    }
  }

  .box-2 {
    display: flex;
    position: relative;
    img {
      position: absolute;
      z-index: 1;
    }

    .head-photo-back {
      width: 35.9rem;
      height: 59.1rem;
      left: 0;
      margin-top: 13rem;
    }

    .head-photo-front {
      width: 32.8rem;
      height: 59.1rem;
      right: 0;
      margin-top: 2.5rem;
    }

    .grandiant-white {
      position: absolute;
      width: 100%;
      height: 23.9rem;
      margin-top: 38rem;
      background: transparent
        linear-gradient(
          180deg,
          #ffffff00 0%,
          #ffffff95 22%,
          #ffffff 55%,
          #ffffff 89%,
          #ffffff 100%
        )
        0% 0% no-repeat padding-box;
      opacity: 1;
      z-index: 2;
    }
  }

  .app-icon {
    position: relative;
    margin-top: 60rem;
    z-index: 3;

    img {
      margin-right: 1rem;
      padding-bottom: 2rem;
    }
  }
}

main {
  .box-3 {
    margin-top: 33rem;

    h2 {
      text-align: left;
      color: #450e87;
      font-size: 2rem;
      font-weight: bold;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
    p {
      text-align: left;
      color: #7d8e9f;
      font-size: 2.2rem;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
  }

  .box-4 {
    margin-top: 10rem;

    h2 {
      text-align: left;
      color: #450e87;
      font-size: 2rem;
      font-weight: bold;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
    p {
      text-align: left;
      color: #7d8e9f;
      font-size: 2.2rem;
      margin: 0 0 2rem 3.5rem;
      padding: 0;
    }
  }

  .carts {
    display: flex;
    justify-content: center;

    .card {
      background-color: #f6f6fb;
      border: 1px solid #aba3b7;
      border-radius: 28px;
      img {
        width: 14rem;
        height: auto;
        margin: 2rem 12rem 2rem 2rem;
      }
    }

    .carousel-indicators {
      .active {
        background-color: #450e87;
      }
      li {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #dddae2;
      }
    }

    .card-body {
      h2 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
        color: #3d2852;
        font-weight: bold;
      }
      p {
        margin: 2rem 0 5rem 3rem;
        padding: 0;
        color: #7d8e9f;
        opacity: 80%;
        font-size: 1.8rem;
        text-align: left;
      }
    }
  }

  .box-5 {
    width: 30rem;
    margin: 0 auto;

    .main-box {
      padding-top: 3rem;
      background-color: #f6f6fb;
      border-radius: 20px;
      .header {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 32px;
          height: 22px;
        }
        p {
          margin: 0;
          padding: 0;
          color: #3d2852;
          font-size: 1.6rem;
          font-weight: bold;
          margin-left: 2rem;
          margin-right: 5rem;
        }
        .tre {
          display: flex;
          width: 40px;
          height: 40px;
          border-radius: 10px;
          background-color: #00b7b3;

          img {
            width: 16px;
            height: 2px;
            margin: auto;
          }
        }
      }

      p {
        color: #7d8e9f;
        opacity: 80%;
        text-align: left;
        margin-left: 2.4rem;
        font-size: 1.8rem;
        margin-top: 2.2rem;
      }

      img {
        width: 30rem;
        height: auto;
      }
    }

    .child-box {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #F6F6FB;
      border-radius: 2rem;
      margin-top: 1rem;
      img {
        width: 3.3rem;
        height: auto;
      }
      p {
        color: #7d8e9f;
        font-size: 1.6rem;
        font-weight: bold;
        margin-left: 1.8rem;
        margin-right: 5.5rem;
      }
      .plus {
        display: flex;
        width: 4rem;
        height: 4rem;
        background-color: #FFF;
        border-radius: 1rem;
        img {
          margin: auto;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
  }
}
