@import "normalize.css";
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Maven Pro", sans-serif;
  color: #fff;
  text-align: center;
  background: #fff;
}

nav {
  background: rgba(39, 15, 77, 0.937254902);
  height: 81.5rem;
}
nav .nav-header {
  display: flex;
  padding-top: 2.4rem;
}
nav .nav-header .main-logo {
  text-align: left;
  width: 11.2rem;
  height: 1.9rem;
  margin-left: 2.6rem;
}
nav .nav-header .nav-header-right-item {
  display: flex;
  margin-left: auto;
  margin-right: 2.6rem;
  align-items: center;
}
nav .nav-header .nav-header-right-item .Tr-flag {
  width: 2.1rem;
  height: 2.1rem;
}
nav .nav-header .nav-header-right-item h2 {
  margin: 0;
  font-size: 1.9rem;
  display: inline-block;
  color: #fff;
  opacity: 80%;
  margin-right: 2.3rem;
  margin-left: 0.8rem;
}
nav .nav-header .nav-header-right-item .icon-hamburger {
  width: 2.1rem;
  height: 2.1rem;
}
nav .box-1 h1 {
  font-size: 2.8rem;
}
nav .box-1 h1 span {
  color: #00b7b3;
}
nav .box-1 p {
  font-size: 1.8rem;
  opacity: 60%;
}
nav .box-1 .phone-apply .application {
  display: flex;
  margin-left: 3.6rem;
  margin-top: 5rem;
}
nav .box-1 .phone-apply .application .country-number {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
nav .box-1 .phone-apply .application .country-number border img {
  height: 1.8rem;
  width: 1.8rem;
}
nav .box-1 .phone-apply .application .country-number select {
  background-color: transparent;
  border: 0px;
  color: #fff;
  font-size: 1.8rem;
}
nav .box-1 .phone-apply .application .phone-number {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  margin-left: 2rem;
}
nav .box-1 .phone-apply .application .phone-number input {
  background-color: transparent;
  border: 0px;
  color: #fff;
  opacity: 40%;
  font-size: 1.8rem;
}
nav .box-1 .phone-apply button {
  font-size: 1.8rem;
  width: 30rem;
  height: 5.8rem;
  border: 0px;
  border-radius: 1.8rem;
  background-color: #00b7b3;
  color: #fff;
  margin-top: 2.3rem;
}
nav .box-1 .app-store {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
nav .box-1 .app-store p {
  font-size: 1.4rem;
  margin: 0;
}
nav .box-1 .app-store button {
  width: 17rem;
  height: 5.2rem;
  border: 0px;
  border-radius: 1.4rem;
  margin-left: 4rem;
}
nav .box-2 {
  display: flex;
  position: relative;
}
nav .box-2 img {
  position: absolute;
  z-index: 1;
}
nav .box-2 .head-photo-back {
  width: 35.9rem;
  height: 59.1rem;
  left: 0;
  margin-top: 13rem;
}
nav .box-2 .head-photo-front {
  width: 32.8rem;
  height: 59.1rem;
  right: 0;
  margin-top: 2.5rem;
}
nav .box-2 .grandiant-white {
  position: absolute;
  width: 100%;
  height: 23.9rem;
  margin-top: 38rem;
  background: transparent linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5843137255) 22%, #ffffff 55%, #ffffff 89%, #ffffff 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 2;
}
nav .app-icon {
  position: relative;
  margin-top: 60rem;
  z-index: 3;
}
nav .app-icon img {
  margin-right: 1rem;
  padding-bottom: 2rem;
}

main .box-3 {
  margin-top: 33rem;
}
main .box-3 h2 {
  text-align: left;
  color: #450e87;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 2rem 3.5rem;
  padding: 0;
}
main .box-3 p {
  text-align: left;
  color: #7d8e9f;
  font-size: 2.2rem;
  margin: 0 0 2rem 3.5rem;
  padding: 0;
}
main .box-4 {
  margin-top: 10rem;
}
main .box-4 h2 {
  text-align: left;
  color: #450e87;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 2rem 3.5rem;
  padding: 0;
}
main .box-4 p {
  text-align: left;
  color: #7d8e9f;
  font-size: 2.2rem;
  margin: 0 0 2rem 3.5rem;
  padding: 0;
}
main .carts {
  display: flex;
  justify-content: center;
}
main .carts .card {
  background-color: #f6f6fb;
  border: 1px solid #aba3b7;
  border-radius: 28px;
}
main .carts .card img {
  width: 14rem;
  height: auto;
  margin: 2rem 12rem 2rem 2rem;
}
main .carts .carousel-indicators .active {
  background-color: #450e87;
}
main .carts .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dddae2;
}
main .carts .card-body h2 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  color: #3d2852;
  font-weight: bold;
}
main .carts .card-body p {
  margin: 2rem 0 5rem 3rem;
  padding: 0;
  color: #7d8e9f;
  opacity: 80%;
  font-size: 1.8rem;
  text-align: left;
}
main .box-5 {
  width: 30rem;
  margin: 0 auto;
}
main .box-5 .main-box {
  padding-top: 3rem;
  background-color: #f6f6fb;
  border-radius: 20px;
}
main .box-5 .main-box .header {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .box-5 .main-box .header img {
  width: 32px;
  height: 22px;
}
main .box-5 .main-box .header p {
  margin: 0;
  padding: 0;
  color: #3d2852;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 2rem;
  margin-right: 5rem;
}
main .box-5 .main-box .header .tre {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #00b7b3;
}
main .box-5 .main-box .header .tre img {
  width: 16px;
  height: 2px;
  margin: auto;
}
main .box-5 .main-box p {
  color: #7D8E9F;
  opacity: 80%;
  text-align: left;
  margin-left: 2.4rem;
  font-size: 1.8rem;
  margin-top: 2.2rem;
}
main .box-5 .main-box img {
  width: 30rem;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
